@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    font-family: 'Poppins', Courier, monospace;
}

body {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    background-color: #ecf0f3;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: -3px -3px 10px 5px #FFF,
        3px 3px 10px 5px #ceced1;
    height: 70%;
    border: 1px solid #FFF;
}

.profile-card .top-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.profile-card .top-side .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 15px solid #e4e4e485;
    overflow: hidden;
    margin: 0 25px 30px 25px;
    box-shadow: -3px -3px 10px 5px #FFF,
        3px 3px 10px 5px #ceced1;
}

.profile-card .top-side .profile-image img {
    width: 100%;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

.profile-card .top-side .info {
    font-size: 25px;
    font-weight: 500;
    color: #494e6b;
}

.profile-card .media {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}

.profile-card .media .link {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 10px;
    background-color: #ecf0f3;
    box-shadow: -3px -3px 7px #FFF,
        3px 3px 5px #ceced1;
    position: relative;
}

.profile-card .media .link i {
    font-size: 25px;
    line-height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.profile-card .buttons {
    padding: 10px 40px;
    background-color: #ecf0f3;
    box-shadow: -3px -3px 10px 5px #FFF,
        3px 3px 10px 5px #ceced1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 15px;
}

.profile-card .buttons a {
    color: #31344b;
}

.profile-card .buttons a i {
    margin-left: 10px;
}